@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

body{
  background-color: #181818;
  font-family: 'Montserrat', sans-serif;
  max-width: 1024px;
}

.login-form {
  margin: 0;
  position: absolute;
  top: 25%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-top: 100px;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.form-label {
  color: #1DB954;
  font-weight: normal;
  font-size: 18px;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  margin-bottom: 60px;
}

.form-control {
  background: none;
  border-bottom: 1px solid #1DB954;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  width: 300px;
}

.form-control:focus,
.form-control:valid,
.form-control:invalid {
  color: white;
  outline: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 1px solid #1DB954;
  -webkit-text-fill-color: white;
  transition: background-color 5000s ease-in-out 0s;
}

.form-group input::placeholder {
  color: transparent;
}
input:focus ~ label,
input:valid ~ label,
input:invalid:not(:placeholder-shown) ~ label {
  top: -20px;
  font-size: 16px;
  font-weight: bolder;
  color: #1DB954;
  font-weight: normal;
}

input:invalid:not(:placeholder-shown) ~ label {
  color: #1DB954;
}

.bar {
  position: relative;
  display: block;
  width: 315px;
}
.bar:before,
.bar:after {
  content: "";
  height: 2.5px;
  width: 0;
  bottom: 0.5px;
  position: absolute;
  background: #1DB954;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}

input:invalid:not(:placeholder-shown) ~ .bar:before,
input:invalid:not(:placeholder-shown) ~ .bar:after {
  background: #1DB954;
}

.login input[type="submit"]{
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  border: none;
  color: #1DB954;
  letter-spacing: 3px;
  background-color: white;
  border-style: none;
  text-align: center;
  font-size: 20px;
  width: 320px;
  padding: 15px 50px;
  outline: none;
}

.login input[type="submit"]:hover{
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  border: none;
  color: #1DB954;
  letter-spacing: 3px;
  background-color: white;
  border-style: none;
  text-align: center;
  font-size: 22px;
  padding: 15px 50px;
  outline: none;
}

.signup input[type="submit"]{
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  border: none;
  color: white;
  letter-spacing: 3px;
  background-color: #1DB954;
  border-style: none;
  text-align: center;
  font-size: 20px;
  width: 320px;
  padding: 15px 50px;
  outline: none;
  margin-bottom: 20px;
}

.signup input[type="submit"]:hover{
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  border: none;
  color: white;
  letter-spacing: 3px;
  background-color: #1DB954;
  border-style: none;
  text-align: center;
  font-size: 22px;
  width: 320px;
  padding: 15px 50px;
  outline: none;
  margin-bottom: 20px;
}

.login-form span{
  color: #1DB954;
}
.login-form a{
  color: white;
  text-decoration: none;
}

.login-form a:hover{
  color: white;
  text-decoration: underline;
}

.login-form a:active{
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

.highlight {
  position: absolute;
  height: 60%;
  width: 300px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
  from {
    background: #1DB954;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #1DB954;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #1DB954;
  }
  to {
    width: 0;
    background: transparent;
  }
}

.error{
  background-color: red;
  color: white;
  width: 100%;
  padding: 20px 50px;
  text-align: center;
  position: absolute;
  top:65%;
  margin: 0;
}

p{
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.google-btn{
  position: absolute;
  left: 45%;
  top: 55%;
  transform: translateX(-20%);
}

.signup .google-btn{
  top: 60%;
}

.navbar{
  background-color: #1DB954;
  color: white;
  width: 100%;
  overflow:hidden;
  text-align: center;
  position: fixed;
  z-index: 2;
  top:0;
  margin-bottom: 50px;
}

.navbar nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 50px;
  justify-content: flex-end;
}

.a{
  text-decoration: none;
  width: 150px;
  padding:30px 0;
  color: white;
}

.navbar nav .a:hover,.home-nav:hover{
  background-color: white;
  color: #1DB954;
}

.login-nav, .signup-nav{
  text-decoration: none;
  width: 150px;
  padding:30px 0;
  background-color: white;
  color: #1DB954;
  font-weight: bold;
}

.user-nav-item{
  width: 150px;
  display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.home-nav{
    width: 150px;
}
.user-nav,.home-nav{
    margin-left: 10px;
  text-decoration: none;
  padding:30px 0;
  color: white;
}

.user-nav:hover{
  background-color: none;
  text-decoration: underline;
}

.user-nav-hide,.home-nav-hide{
  display: none;
}

.feed-page{
  color: white;
  text-align: center;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.search-track{
  position: absolute;
  top:120px;
  left: 40%;
}

.search-form{
  position: absolute;
}

.search-form input[type="submit"]{
  position: relative;
    top: -30px;
    left: 160px;
background: url('https://img.icons8.com/material-outlined/24/ffffff/search.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  color: transparent;
  border: none;
  outline: none;
}

.search-form input[type="submit"]:hover{
  border: 1px solid white;
}

.search-form .form-control::placeholder{
  font-style: italic;
  font-family: 'Montserrat', sans-serif;
}

.search-error{
  position: absolute;
  top: 150px;
  width: 400px;
}

.musicPlayer, .musicPlayer-nocontent{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid white;
  width: 400px;
}

.search-musicPlayer{
  position: relative;
  top:80px;
  left: -50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid white;
  max-width: 400px;
}

.make-post{
  position: relative;
  left: -50px;
  top:100px;
  display: flex;
  flex-direction: column;
}

.make-post .date{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.make-post .date .dd{
  font-weight: bold;
  font-size: 40px;
  margin-right: 20px;
}

.make-post .date .day-year{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.make-post form .post-content{
  resize: none;
  outline: none;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  width: 400px;
  font-size: 16px;
  overflow: auto;
  margin-top: 20px;
  height: 50px;
  background:none;
}

.make-post form input{
  background: url('https://img.icons8.com/material-outlined/24/ffffff/hand-with-pen.png');
  background-position: center;
  background-repeat:no-repeat ;
  border: none;
  outline: none;
  height: 30px;
  width: 30px;
  color: transparent;
  margin-left: 10px;
}

.make-post form .post-content:focus ~  input{
   transform: rotate(45deg);
}

.make-post form input:hover{
  border: 1px solid white;
}

.feed-section{
  display: flex;
  flex-direction: column;
  position: relative;
  top:500px;
  width: 800px;
  left: 25%;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 100px;
}

.feed-section .refresh{
  background: url("https://img.icons8.com/material-outlined/24/ffffff/reboot.png");
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
  position: relative;
  height: 30px;
  width: 30px;
  left: 700px;
}

.feed-section .refresh:hover{
  transform: rotate(180deg);
  transition: ease 1s;
}

.individual-post{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 600px;
  padding-left: 50px;
  padding-right: 100px;
  padding-top: 50px;
  border-radius: 10px;
}

.individual-post:hover{
  background-color: rgba(255, 255, 255, 0.1);
}

.post-info{
  position: relative;
  padding-bottom: 50px;
}

.post-info .line, .archive-page .line,.others-page .line{
    width: 720px;
    left:-120px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  bottom: 0;
}

.user-info img{
  width: 60px;
  margin-right: 30px;
}

.name-date{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.name-date .name a{
  font-weight: bold;
  font-size: medium;
  color: white;
  text-decoration: none;
}

.name-date .name a:hover{
  text-decoration: underline;
}

.name-date .postDate{
  font-size:smaller;
  font-weight: lighter;
  margin-top: 5px;
}

.post-info .musicPlayer, .musicPlayer-nocontent{
  width: 500px;
  border: 1px solid white;
}

.musicPlayer-nocontent{
  margin-top: 30px;
}

.post-info .songImg,.archive-page .songImg,.others-page .songImg{
  width: 130px;
}

.post-info .songInfo,.archive-page .songInfo,.others-page .songInfo{
  height: 110px;
  padding: 10px 60px;
}

.post-info  .postContent,.archive-page .postContent, .others-page .postContent{
  margin: 20px 0;
  max-width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

.post-info  .postContent .text,.archive-page .postContent .text,.others-page .postContent .text{
  padding:0 30px;
  display: block;
  text-align: justify;
}

.post-info .postContent .qoute-before,.post-info .postContent .qoute-after,.archive-page .postContent .qoute-before,.archive-page .postContent .qoute-after,.others-page .postContent .qoute-after,.others-page .postContent .qoute-before{
  font-size: 30px;
  font-family: 'Anton', sans-serif;
}

.post-info .audio, .archive-page .audio,.others-page .audio{
  height: 20px;
  width: 300px;
}

.post-info .comment-section,.others-posts .comment-section{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 10px;
}

.post-info .comment-section .comments,.others-posts .comment-section .comments{
  max-height: 100px;
  overflow: scroll;
  margin-bottom: 10px;
}

.post-info .comment-section .comments .each-comment,.others-posts .comment-section .comments .each-comment{
  border-bottom:1px solid rgba(255, 255, 255, 0.1) ;
  text-align: left;
  width: 550px;
  padding: 5px 0;
}

 .comment-section .comments .each-comment::before, .comment-section .comments .each-comment::after{
  content: '"';
  padding: 20px;
}
.comment-section-form{
  display: flex;
  flex-direction: row;
  padding: 20px 0 0 0;
  align-items: flex-end;
  width: 620px;
}
.comment-section-form > input[type="text"]{
  background:none;
  color: white;
  font-family: 'Montserrat', sans-serif;
  border:none;
  width: 100%;
  border-bottom: 1px solid  rgba(255, 255, 255, 0.1);
  padding:10px 10px ;
    margin-right: 10px;
}

.comment-section-form > input[type="text"]:focus{
  background: rgba(255, 255, 255, 0.2);
  color: white;
  font-family: 'Montserrat', sans-serif;
  border:none;
  width: 100%;
  border-bottom: 1px solid  rgba(255, 255, 255, 0.1);
  padding:10px 10px ;
}

.comment-section-form > input[type="submit"]{
  background: url("https://img.icons8.com/material-outlined/24/ffffff/comments.png");
  border:none;
  color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}

.comment-section-form > input[type="submit"]:hover{
  border: 1px solid white;
  width: 28px;
  height: 28px;
  background-repeat: no-repeat;
  background-position: center;
}

.songImg{
  width: 150px;
}

.songInfo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 250px;
  height: 150px;
  padding: 0 20px;
}

.songTitle{
  font-weight: bold;
  font-size: medium;
}

.singerName{
  font-size:smaller;
  font-weight: lighter;
  margin-bottom: 20px;
  margin-top: 5px;
}

.audio{
  width:200px;
  display: block;
  outline: none;
  height: 30px;
}

.profile-nav-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 25%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-top: 100px;
  width: 100%;
}

.profile-info{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.profile-info span::before{
  content: "USER";
  display: block;
  font-size: 10px;
  margin-bottom: 10px;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.5);
}

.profile-info span{
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 3px;
}

.profile-info .profileimage{
  width: 110px;
  margin: 30px 20px;
}

.profile-links{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-links a{
  width: 400px;
  border: 2px solid  #282828;
  padding: 20px 30px;
  text-align: center;
  color:white;
  text-decoration: none;
  border-radius: 50px;
  margin-top: 30px;
  text-transform:uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

.profile-links a:hover{
  background-color: #282828;
}

.use-account-page,.use-archive-page{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.profile-nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: black;
  height: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  color: white;
}

.profile-nav img{
  margin: 150px 0 20px 0;
}

.profile-nav span{
  font-weight: bolder;
  font-size: 20px;
  margin-bottom: 30px;
}

.profile-nav a{
  color: white;
  text-decoration: none;
  padding:30px 0;
  width: 300px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.profile-nav a:hover{
background-color: #282828;
}

.account-nav,.archive-nav{
  background-color: rgba(255, 255, 255, 0.2);
  font-weight: bold;
}

.account-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  margin-left: 500px;
}

.avatar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 50px;
}

.avatar button{
  background: url("https://img.icons8.com/material/30/ffffff/upload--v1.png");
      border: none;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    height: 30px;
    width: 30px;
  margin:0 50px;
}

.avatar button:hover{
  border: 1px solid white;
}

.avatar img{
  margin: 50px 0;
}

.user-userinfo{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.user-username{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

div[editext="view-container"] {
    border-radius: 5px;
    color: #fff;
    padding:0 20px;
  margin: 0 30px;
}

input[editext="input"] {
  background: none;
  color: #fff;
  border: none;
  border-bottom: 1px solid white;
  padding:0px 20px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  margin: 0 20px;
  text-align: center;
}

button[editext="edit-button"] {
  color: white;
  background: none;
  font-size: 20px;
  padding:0;
  border: none;
  transform: rotate(90deg);
  width: 30px;
  height: 30px;
}

button[editext="edit-button"]:hover{
  color: black;
  background: white;
}

button[editext="save-button"],button[editext="cancel-button"] {
  background: none;
  font-size: 16px;
  font-weight: bold;
}

.user-email,.username-text{
  font-weight: bold;
  letter-spacing: 2px;
}

.user-email{
  margin-right: 30px;
}

.archive-page{
  color:white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  margin-bottom: 150px;
  margin-left: 600px;
}

.archive-page .individual-post,.others-page .others-posts .individual-post{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 600px;
  padding-left: 100px;
  padding-right: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 10px;
  position: relative;
}

.archive-page button{
  display: none;
  position: absolute;
  right: 50px;
  background: url("https://img.icons8.com/material/24/ffffff/filled-trash.png");
  background-repeat: no-repeat;
  background-position: center;
  border:none;
  width: 30px;
  height: 30px;
  color: transparent;
}

.archive-page .individual-post:hover > button{
  display:block;
}

.archive-page button:hover{
  border: 1px solid white;
}

.archive-page .musicPlayer, .others-page .others-posts .individual-post .musicPlayer{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid white;
  width: 500px;
}

.archive-page .line, .others-page .line{
  bottom: 0;
  left: 10px;
  width: 690px;
}

button,input{
  outline: none;
}

textarea::placeholder{
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
}

.others-page{
  position: absolute;
  padding:20px 20px;
  top: 15%;
  transform: translateX(20%);
  display: flex;
  flex-direction: row;
  color: white;
  align-items: flex-start;
  justify-content: center;
}

.others-page .others-profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 100px;
  padding-top: 50px;
}

.others-page .others-profile img{
  margin-bottom: 30px;
  width: 180px;
}

.others-page .others-profile span{
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 2px;
}

.others-page .others-profile span::before{
  content: "USER";
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  letter-spacing: 2px;
  text-align: center;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 5px;
}

.others-page .others-posts{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.others-page .others-posts .individual-post{
  position: relative;
}

.like-section{
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  left: 100%;
  bottom: 0;
}

.others-page .like-section{
  position: relative;
  left: 90%;
  bottom: -30px;
}

.archive-page .like-section{
  position: relative;
  left: 90%;
  bottom: -30px;
}

.like{
  background: url("https://img.icons8.com/material/24/ffffff/filled-like--v1.png");
  background-repeat: no-repeat;
  border:none;
  background-position: center;
  width: 30px;
  height: 30px;
  color: transparent;
}

.like:hover{
  background: url("https://img.icons8.com/material/24/FF3232/filled-like--v1.png");
  background-repeat: no-repeat;
  border:none;
  background-position: center;
  width: 30px;
  height: 30px;
  color: transparent;
}
.like:active{
  background: url("https://img.icons8.com/material/30/FF3232/filled-like--v1.png");
  background-repeat: no-repeat;
  border:none;
  background-position: center;
  width: 30px;
  height: 30px;
  color: transparent;
  transition: 0.2s ease all;
  font-family: 'Montserrat', sans-serif;
}

.like-num{
  border:none;
  background:none;
  color: white;
  font-size: 16px;
}

.footer{
  position: fixed;
  bottom: 0;
  background-color: #282828;
  width: 100%;
  height: 60px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 2;
}